.BuildControls{
    width: 100%;
    background-color: #FBD6C6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 13px 15px 7px -5px rgba(0,0,0,0.08);;
    margin: auto;
    padding: 10px 0px;
    position: fixed;
    top: 0;
}


.OrderButton {
    background-color: #DED29E;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #A29574;
    border: 1px solid #966909;
    color: white;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}